@import "../theming/typography.scss";

body {
  background-color: $light-gray;
}

h1 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: $bold !important;
  font-size: 32px !important;
  color: $dark-gray !important;
}

h2 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: $semi-bold !important;
  font-size: 20px !important;
  color: $dark !important;
}

h3 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: $semi-bold !important;
  font-size: 16px !important;
  color: $dark !important;
}

label {
  font-family: "Open Sans", sans-serif !important;
  font-weight: $regular !important;
  font-size: 12px !important;
  color: $dark !important;
}

.button,
.ui.basic.blue.button {
  font-family: "Open Sans", sans-serif !important;
  font-weight: $semi-bold !important;
  font-size: 14px !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  padding: 15px 30px;
}

.button.flat {
  color: $blue !important;
  cursor: pointer;
}

.description {
  font-family: "Open Sans", sans-serif !important;
  font-weight: $regular !important;
  font-size: 14px !important;
  color: $dark !important;
}

.tasks-wrapper {
  margin-top: 40px;
}
