@import "../theming/typography.scss";

.ui.modal > .actions {
  background-color: transparent;
  border: none;
}

.field-group {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: space-around;

  .field-set {
    & > * {
      width: 100%;
    }

    textarea.error {
      border: 1.5px solid $red;
    }

    .error-massage {
      font-family: "Open Sans", sans-serif !important;
      font-weight: $semi-bold !important;
      font-size: 10px !important;
      color: $red !important;
      position: relative;
      top: -3px;
      visibility: hidden;

      &.error {
        visibility: visible;
      }
    }
  }
}
